<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ceep.ccpp.dao.SystemConfigMapper" >

  <select id="getSystemConfigByValue" resultType="com.dxfjyygy.model.SystemConfig">
      select * from t_sys_cfgn t where t.t_cfgn_value = #{tSysCfgnValue}
  </select>

</mapper>